body {
    background-color: #030708;
    font-family: 'Kalam', cursive;
    font-size: 20px;
}

header {
    text-align: center;
}

.answer-container {
    display: grid;
    grid-area: 1fr;
    margin: 20px 100px;
    color: white;
    text-align: center;
    font-family: 'Karla', sans-serif;
    font-size: 50px;
    color: fuchsia;
    border: 1px black;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    margin: 20px 100px;
    color: rgb(218, 218, 107);
    border: 1px dotted white;
}

.grid-item {
    padding: 10px;
    border-right: 1px dotted white;
    text-align: center;
}

#display {
    grid-column: 1 / span 1;
    grid-row: 1 / span 9;
}


#wins, #hiddenWord, #guessesRemaining {
    color: white;
}

#playerGuess {
    grid-column: 2 / span 1;
    grid-row: 9 / span 1;
    color: white;
}



button {
    font-size: 16px;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    background-color: fuchsia;
    border: fuchsia;
    height: 40px;
    width: 100px;
    color: white;

}


